QDRANT_URL=https://188e9235-2f68-485d-a951-05f8c16fe3bf.europe-west3-0.gcp.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.5pPotGXmDwJi_nUxC-MSDRVC6kdA_vsHjHXErpwPfO4

FRONTEND_ORIGIN=http://localhost:3000

GROQ_API_KEY=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
GROQ_MODEL=mixtral-8x7b-32768


BATCH_SIZE_LIMIT=1000
REQUEST_TIMEOUT_SECONDS=30
RATE_LIMIT_PER_MINUTE=100

KNN_K=5
KNN_METRIC=euclidean

DEFAULT_THRESHOLD=0.5
